<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
</head>

<body>
  <section class="d-flex justify-content-around m-0">

    <div class=" p-3 mt-4" style="background-color: rgb(211, 218, 219); border-radius: 10px;">
      <div class="d-flex align-items-end mt-4 mb-3">
        <h3 class="me-3">View Orders</h3>

      </div>

      <table class="table mt-5" id="prtable">
        <thead>
          <tr>


            <th scope="col">Date</th>
            <th scope="col">Address</th>
            <th scope="col">Mobile</th>
            <th scope="col">Products</th>
            <th scope="col">Payment</th>
            <th scope="col">Status</th>
            <th scope="col">Deleted</th>
            <th scope="col">Dispatched</th>
            <th scope="col">Options</th>
          </tr>
        </thead>
        <tbody>
          {{#each orders}}
          <tr>


            <td>{{this.dateToString}}</td>
            <td>
              {{this.address.address_collection.first_name}}<br>{{this.address.address_collection.house_name}}<br>{{this.address.address_collection.street}}
              {{this.address.address_collection.town}}{{this.address.address_collection.pin}}<br>{{this.address.address_collection.state}}
              {{this.address.address_collection.country}}

            </td>

            <td>{{this.user_info.user_mobile}}</td>
            <td>
           {{this._id}}
            </td>
            <td>{{this.totalSales}}</td>
            <td>{{this.status}}</td>

            <td>{{this.deleted}}</td>
            <td>{{#if this.dispatched}}
              Order Out for Delivery
              {{else}}
              {{#if this.deleted}}
              Order Deleted
              {{else}}
              Order under Processing
              {{/if}}
              {{/if}}
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </section>

</body>

</html>