<style media="screen">
    .alert {
        background: #f8d7da;
        padding: 5px 10px;
        border-radius: 8px;
    }

    .animation-ctn {
        text-align: center;
        margin: 5em auto;
    }

    @-webkit-keyframes checkmark {
        0% {
            stroke-dashoffset: 100px
        }

        100% {
            stroke-dashoffset: 200px
        }
    }

    @-ms-keyframes checkmark {
        0% {
            stroke-dashoffset: 100px
        }

        100% {
            stroke-dashoffset: 200px
        }
    }

    @keyframes checkmark {
        0% {
            stroke-dashoffset: 100px
        }

        100% {
            stroke-dashoffset: 0px
        }
    }

    @-webkit-keyframes checkmark-circle {
        0% {
            stroke-dashoffset: 480px
        }

        100% {
            stroke-dashoffset: 960px;

        }
    }

    @-ms-keyframes checkmark-circle {
        0% {
            stroke-dashoffset: 240px
        }

        100% {
            stroke-dashoffset: 480px
        }
    }

    @keyframes checkmark-circle {
        0% {
            stroke-dashoffset: 480px
        }

        100% {
            stroke-dashoffset: 960px
        }
    }

    @keyframes colored-circle {
        0% {
            opacity: 0
        }

        100% {
            opacity: 100
        }
    }

    /* other styles */
    /* .svg svg {
       display: none
       }
       */
    .inlinesvg .svg svg {
        display: inline
    }

    /* .svg img {
       display: none
       } */

    .icon--order-success svg polyline {
        -webkit-animation: checkmark 0.3s ease-in-out 0.9s backwards;
        animation: checkmark 0.3s ease-in-out 0.9s backwards
    }

    .icon--order-success svg circle {
        -webkit-animation: checkmark-circle 0.6s ease-in-out backwards;
        animation: checkmark-circle 0.6s ease-in-out backwards;
    }

    .icon--order-success svg circle#colored {
        -webkit-animation: colored-circle 0.6s ease-in-out 0.7s backwards;
        animation: colored-circle 0.6s ease-in-out 0.7s backwards;
    }
</style>
<section class="align-items-center " style="margin-top: 150px;">
    <div class="animation-ctn" style="height: 48vh;">
        <div class="icon icon--order-success svg ">
            <svg xmlns="http://www.w3.org/2000/svg" width="154px" height="154px">
                <g fill="none" stroke="#22AE73" stroke-width="2">
                    <circle cx="77" cy="77" r="72" style="stroke-dasharray:480px, 480px; stroke-dashoffset: 960px;">
                    </circle>
                    <circle id="colored" fill="#22AE73" cx="77" cy="77" r="72"
                        style="stroke-dasharray:480px, 480px; stroke-dashoffset: 960px;"></circle>
                    <polyline class="st0" stroke="#fff" stroke-width="10" points="43.5,77.8 63.7,97.9 112.2,49.4 "
                        style="stroke-dasharray:100px, 100px; stroke-dashoffset: 200px;" />
                </g>
            </svg>
        </div>
        <br />
        <h2>Order placed successfully</h2>
        <a href="/">
            <button class="btn btn-success btn-md mt-2 rounded">Continue Shopping</button>

        </a>
    </div>
    
</section>
<footer id="footer">

    <div class="footer-container">
      <div class="footer_top">
        <div class="container">
          <div class="row">

            <div class="col-md-4 links footer_block">
              <div class="footer_about_us">
                <div class="logo_footer"><a href="#"><img src="/Logo/Logo2.svg" alt="" /></a></div>
                <div class="desc_info">
                  <p class="txt_info">.</p>
                  <div class="need_help">
                    <p>NEED HELP?</p>
                    <p class="phone"> (+91) 7356122587</p>
                  </div>
                </div>
              </div>

              <div class="col-footer social_follow ">
                <ul>
                  <li class="facebook"><a href="" target="_blank">Facebook</a></li>
                  <li class="twitter"><a href="" target="_blank">Twitter</a></li>
                  <li class="youtube"><a href="" target="_blank">YouTube</a></li>
                  <li class="googleplus"><a href="" target="_blank">Google +</a></li>
                  <li class="instagram"><a href="" target="_blank">Instagram</a>
                  </li>
                </ul>
              </div>


            </div>
            <div class="col-md-2 links footer_block">
              <h3 class=" hidden-sm-down">Information</h3>
              <div class="title clearfix hidden-md-up" data-target="#footer_2" data-toggle="collapse">
                <h3>Information</h3>
                <span class="float-xs-right">
                  <span class="navbar-toggler collapse-icons">
                    <i class="material-icons add">keyboard_arrow_down</i>
                    <i class="material-icons remove">keyboard_arrow_up</i>
                  </span>
                </span>
              </div>
              <ul id="footer_2" class="collapse footer_list">

                <li>
                  <a id="link-cms-page-1-2" class="cms-page-link" href="content/1-delivery.html"
                    title="Our terms and conditions of delivery">
                    Delivery
                  </a>
                </li>

                <li>
                  <a id="link-cms-page-4-2" class="cms-page-link" href="content/4-about-us.html"
                    title="Learn more about us">
                    About us
                  </a>
                </li>

                <li>
                  <a id="link-cms-page-5-2" class="cms-page-link" href="content/5-secure-payment.html"
                    title="Our secure payment method">
                    Secure payment
                  </a>
                </li>

                <li>
                  <a id="link-static-page-contact-2" class="cms-page-link" href="contact-us.html"
                    title="Use our form to contact us">
                    Contact us
                  </a>
                </li>

                <li>
                  <a id="link-static-page-sitemap-2" class="cms-page-link" href="sitemap.html"
                    title="Lost ? Find what your are looking for">
                    Sitemap
                  </a>
                </li>

                <li>
                  <a id="link-static-page-stores-2" class="cms-page-link" href="stores.html" title="">
                    Stores
                  </a>
                </li>
              </ul>
            </div>
            <div class="col-md-2 links footer_block">
              <h3 class=" hidden-sm-down">Custom Links</h3>
              <div class="title clearfix hidden-md-up" data-target="#footer_3" data-toggle="collapse">
                <h3>Custom Links</h3>
                <span class="float-xs-right">
                  <span class="navbar-toggler collapse-icons">
                    <i class="material-icons add">keyboard_arrow_down</i>
                    <i class="material-icons remove">keyboard_arrow_up</i>
                  </span>
                </span>
              </div>
              <ul id="footer_3" class="collapse footer_list">

                <li>
                  <a id="link-cms-page-2-3" class="cms-page-link" href="content/2-legal-notice.html"
                    title="Legal notice">
                    Legal Notice
                  </a>
                </li>

                <li>
                  <a id="link-product-page-prices-drop-3" class="cms-page-link" href="prices-drop.html"
                    title="Our special products">
                    Prices drop
                  </a>
                </li>

                <li>
                  <a id="link-product-page-new-products-3" class="cms-page-link" href="new-products.html"
                    title="Our new products">
                    New products
                  </a>
                </li>

                <li>
                  <a id="link-product-page-best-sales-3" class="cms-page-link" href="best-sales.html"
                    title="Our best sales">
                    Best sales
                  </a>
                </li>

                <li>
                  <a id="link-static-page-authentication-3" class="cms-page-link" href="login.html" title="">
                    Login
                  </a>
                </li>

                <li>
                  <a id="link-static-page-my-account-3" class="cms-page-link" href="loginfd9a.html" title="">
                    My account
                  </a>
                </li>
              </ul>
            </div>
            <div class="col-md-4 links footer_block">
              <h3 class=" hidden-sm-down">Newsletter</h3>
              <div class="title clearfix hidden-md-up" data-target="#footer_4" data-toggle="collapse">
                <h3>Newsletter</h3>
                <span class="float-xs-right">
                  <span class="navbar-toggler collapse-icons">
                    <i class="material-icons add">keyboard_arrow_down</i>
                    <i class="material-icons remove">keyboard_arrow_up</i>
                  </span>
                </span>
              </div>
              <div id="footer_4" class="collapse footer_list">
                <div class="img_app"><a href="#"><img
                      src="http://demo.posthemes.com/pos_ecolife_fashion/img/cms/app_store.png" alt="" /></a> <a
                    href="#"><img src="http://demo.posthemes.com/pos_ecolife_fashion/img/cms/google_play.png"
                      alt="" /></a></div>
                <div class="ft_newsletter col-footer">
                  <p>You may unsubscribe at any moment. For that purpose, please find our contact info in the legal
                    notice.</p>
                  <div class="col col_form">
                    <form action="http://demo.posthemes.com/pos_ecolife_fashion/en/#footer" method="post">
                      <input class="btn btn-primary" name="submitNewsletter" type="submit" value="Sign up">
                      <div class="input-wrapper">
                        <input name="email" type="email" value="" placeholder="Your email address">
                      </div>
                      <input type="hidden" name="action" value="0">
                      <div class="clearfix"></div>

                    </form>
                  </div>
                </div>

              </div>
            </div>


          </div>
        </div>
      </div>
      <div class="footer_bottom">
        <div class="container">
          <div class="row">

            <div class="col-md-4 links footer_block">
              <div class="copyright">Copyright © <a href="http://posthemes.com/">Posthemes</a>. All Rights Reserved
              </div>
            </div>
            <div class="col-md-8 links footer_block">
              <div class="payment"><img src="http://demo.posthemes.com/pos_ecolife_fashion/img/cms/payment.png"
                  alt="" /></div>
            </div>


          </div>
        </div>
      </div>
    </div>

  </footer>